<div class="center jumbotron">
  <p id="notice"><%= notice %></p>

  <h1>3D Printers' Hackathon</h1>
  <h2>Feel free to add good articles, videos, etc :)</h2>
  
</div>



  <div class="panel panel-default">
    <div class="panel-body">
      <table>
        <thead>
          <tr>
            <th>Description</th>
            <th>Link</th>
            <th colspan="12"></th>
          </tr>
        </thead>

        <tbody>
          <% @links.each do |link| %>
            <tr>
              <td><%= link.Description %></td>
              <td><%= link_to "#{link.Link.inspect}".chomp('"').reverse.chomp('"').reverse, "#{link.Link.inspect}".chomp('"').reverse.chomp('"').reverse %></td>
              <td><%= link_to 'Show', link %></td>
              <td><%= link_to 'Edit', edit_link_path(link) %></td>
              <td><%= link_to 'Destroy', link, method: :delete, data: { confirm: 'Are you sure?' } %></td>
            </tr>
          <% end %>
        </tbody>
      </table>

      <br>

      <%= link_to 'New Link', new_link_path, class: "btn btn-default"  %>
    </div>
  </div></div>
  <div class="container">
<%= render 'layouts/footer' %>
</div>